<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homesmartvertablet.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="my.com.homesmartvertablet.activity.FirstScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/config"
            android:name="my.com.homesmartvertablet.activity.PhoneNumberConfigActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="my.com.homesmartvertablet.activity.MainActivity"
            android:theme="@style/MainTheme"
            android:screenOrientation="landscape" >
        </activity>
         <activity
             android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth"
            android:name="my.com.homesmartvertablet.activity.ModifyDeviceItemActivity"
            android:screenOrientation="landscape"
            >
        </activity>
             <activity
             android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth"
            android:name="my.com.homesmartvertablet.activity.AddDeviceItemActivity"
            android:screenOrientation="landscape"
            >
        </activity>
    </application>

</manifest>